.centrar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background: wheat;
}

.error_ch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: red;
}

button:active{
  background: black;
  color:whitesmoke
}